extends ../layout

block content

  h2 Project Requirements
  each requirement in requirements
    .requirement
      h2.title= requirement.title
      p.description= requirement.description
      p.capacity= 'Quantity needed: ' + requirement.capacity
      p.startingDate= 'Starting on ' + requirement.startingDate
      p.endDate= 'Ending on ' + requirement.endDate
      br
      
      a(href='/projects/#{requirement._projectId}/requirements/#{requirement._id}/edit').edit Edit requirement      
      
      a(href='/projects/#{requirement._projectId}/requirements/#{requirement._id}/delete').delete Remove requirement
