extends ../layout

block content

  h2#title= project.title
  p#description= project.description
  p#startingDate= 'Starting on ' + project.startingDate
  p#endDate= 'Ending on ' + project.endDate
  p#status= (project.complete) ? 'Project: Complete' : 'Project: Open'

  each requirement in project.requirements
    h3.require_title= requirement.title
    p.require_descrip= requirement.description
    p.status= (requirement.complete) ? 'Requirement: Complete' : 'Requirement: Open'
    p.startingDate= requirement.startingDate
    p.endDate= requirement.endDate
